html {
    background-color: lightgray;
    text-align: center;
}
.disable-dbl-tap-zoom {
    touch-action: manipulation;
}
canvas {
    border: 6px solid lightblue; 
    background-image: linear-gradient(to bottom right, rgba(160, 220, 250, 1), rgba(100, 140, 255, 1))
}

h1 {
    font-size: 4em; 
    color: blue;
}

.meta {
    margin-top: 1em;
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.timer {
    font-size: 3em;
    font-weight: bold;
}